<table class="datos table table-hover">
  <thead>
    <tr>
      <th>Alumno</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% alumnos.each do |alumno| %>
      <%= render 'alumno', alumno: alumno, en_curso: en_curso %>
    <% end %>
  </tbody>
</table>
