<%= breadcrumb [{text: "Cursos"}] %>

<% if @courses[:teacher].empty? and @courses[:student].empty? %>
  <h3>No perteneces a ningún curso</h3>
<% end %>

<% if @courses[:teacher].any? %>
  <h3>Profesor</h3>
  <% @courses[:teacher].each do |course| %>
    <%= render "course", course: course %>
  <% end %>
<% end %>

<% if @courses[:student].any? %>

  <% if current_user.advises.any? %>
    <div class="alert alert-info">
      <ul>
      <% current_user.advises.each do |advise| %>
        <li><%= advise %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Alumno</h3>
  <% @courses[:student].each do |course| %>
    <%= render "course", course: course %>
  <% end %>
<% end %>
