<% if @courses[:teacher].empty? and @courses[:student].empty? %>
  <h2>No tienes cursos</h2>
<% end %>

<% if @courses[:teacher].any? %>
  <h2>Profesor</h2>
  <% @courses[:teacher].each do |course| %>
    <%= course.nombre %>
  <% end %>
<% end %>

<% if @courses[:student].any? %>
  <h2>Alumno</h2>
  <% @courses[:student].each do |course| %>
    <%= course.nombre %>
  <% end %>
<% end %>
