<div class="answer">
  <input disabled="disabled" type="radio" <%= 'checked="checked"' if user_answer.content %>>
  Verdadero<br />
  <input disabled="disabled" type="radio" <%= 'checked="checked"' unless user_answer.content %>>
  Falso
</div>
