<div class="answer">
  <%= user_answer.content %>
  <% if user_answer.written_answer_grade == nil %>
    <div class="align_right"><small>Esta respuesta aún no ha sido calificada</small></div>
  <% end %>
</div>
