<%
  options = question.answers.map(&:opcion)
  texts   = question.answers.map(&:texto)
%>
<div class="answer_options droppable">
  <small>Opciones:</small>
  <% options.shuffle.each do |option| %>
    <div class="draggable draggable_answer"><%= option %></div>
  <% end %>
</div>
<div class="answers">
  <% texts.shuffle.each do |text| %>
    <div class="answer droppable_answer">
      <%= text %>
      <input type="hidden" name="question_answer_<%= index + 1 %>">
    </div>
  <% end %>
</div>
