<div class="answer_options droppable">
  <small>Opciones:</small>
  <% question.answers.map(&:opcion).shuffle.each do |option| %>
    <div class="draggable draggable_answer"><%= option %></div>
  <% end %>
</div>
<div class="answers">
  <% question.answers.shuffle.each do |answer| %>
    <div class="answer droppable_answer">
      <%= answer.texto %>
      <input type="hidden" name="questions[<%= question.id %>][<%= answer.id %>]">
    </div>
  <% end %>
</div>
