<div class="answer">
  <input type="radio" name="questions[<%= question_id %>]" value="true">
  Verdadero<br />
  <input type="radio" name="questions[<%= question_id %>]" value="false">
  Falso
</div>
