<div class="answer">
  <input type="radio" name="question_answer_<%= index + 1 %>" value="true">
  Verdadero<br />
  <input type="radio" name="question_answer_<%= index + 1 %>" value="false">
  Falso
</div>
