<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li><%= link_to "Alumnos", controller: :alumnos, action: :show, id: @course.id %></li>
      <li><%= link_to "Evaluaciones", controller: :evaluacions, action: :show, id: @course.id %></li>
    </ul>
  </div>
</div>
