<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li><%= link_to "Alumnos", course_alumnos_path(@course) %></li>
      <li><%= link_to "Evaluaciones", course_evaluacions_path(@course) %></li>
    </ul>
  </div>
</div>
