<%= breadcrumb [{link: "/", text: "Cursos"}, {text: @course.nombre, link: "/courses/#{@course.id}"}, {text: "Formato para evaluaciones"}] %>

<div class="align_center">
  <h1><%= @course.nombre %></h1>
</div>

<%= render "admin/evaluaciones_formato/formato" %>

<%= link_to "Regresar", course_path(@course), class: "atras_back" %>
