.evaluacion
  margin: 10px 0
  border-bottom: 1px solid #eee
  padding: 10px 0
  .evaluacion_nombre
    font-size: 16px

.evaluacion_content
  .question
    .question_title
      margin: 1em 0 0.3em 0
    .question_answers
      margin: 0.1em 0 0 1em
      .answer
        margin: 1px 2px 5px 1px

.a_user_answer
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s
  -o-transition: border linear 0.2s, box-shadow linear 0.2s
  transition: border linear 0.2s, box-shadow linear 0.2s
  &.highlighted
    border-color: rgba(82, 168, 236, 0.8)

.btn_print
  margin: 0px 0px 10px 0px
